* {
  font-family: Arial, sans-serif;
  margin: 0px;
  box-sizing: border-box;
}
.img_background {
  background-image: url(../images/olena-sergienko-3BlVILvh9hM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
input {
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.4);
}
input::placeholder {
  opacity: 1;
  color: black;
}
input[type="submit"] {
  cursor: pointer;
  font-size: large;
}

h2 {
  margin-top: 20px;
  text-align: center;
  top: 0px;
  border: solid;
  border-color: black;
  color: rgba(184, 233, 148, 1);
}
.identification_form {
  width: 30%;
  height: 15%;
}
.login_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.login {
  opacity: 1;
}
.email_login,
.password_login {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}
.input_email,
.input_password {
  width: 70%;
}
.signup_button {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: rgba(184, 233, 148, 1);
}

.footer {
  flex-shrink: 3;
  font-size: small;
}
