<html lang="en">
  <head>
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/alert.css" />
    <script type="module" src="../js/index.js"></script>
    <title>Login</title>
  </head>
  <body>
    <div class="img_background">
      <div class="h2">
        <h2>Géolocalisation des arbres de Lyon</h2>
      </div>
      <div class="identification_form">
        <form method="get" class="login_form">
          <div class="email_login">
            <label for="input_email"> </label>
            <input
              type="email"
              class="input_email"
              name="input_email"
              id="input_email"
              placeholder="Email"
              required
            />
          </div>
          <div class="password_login">
            <label for="input_password" class="label_password"></label>
            <input
              type="password"
              class="input_password"
              name="input_password"
              id="input_password"
              placeholder="Password"
              required
            />
          </div>
          <input type="submit" value="LogIn" />
          <button type="button" class="signup_button">Sign up</button>
        </form>
      </div>
      <h3>Connectez-vous pour avoir accès à la carte des arbres de Lyon</h3>
      <div></div>
    </div>
  </body>
</html>
